In [1]:
import pandas as pd

bank_df = pd.read_csv('bank_prep.csv',sep=',')
bank_df.head()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,dec,feb,jan,jul,jun,mar,may,nov,oct,sep
0,58,0,2143,1,0,5,261,1,-1,0,...,0,0,0,0,0,0,1,0,0,0
1,36,0,265,1,1,5,348,1,-1,0,...,0,0,0,0,0,0,1,0,0,0
2,25,0,-7,1,0,5,365,1,-1,0,...,0,0,0,0,0,0,1,0,0,0
3,53,0,-3,0,0,5,1666,1,-1,0,...,0,0,0,0,0,0,1,0,0,0
4,24,0,-103,1,1,5,145,1,-1,0,...,0,0,0,0,0,0,1,0,0,0

In [4]:
#!커맨드 있으면 주피터 노트북에서도 설치 가능
!pip install imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.7.0-py3-none-any.whl (167 kB)
Requirement already satisfied: scikit-learn>=0.23 in c:\users\rjqnr\anaconda3\lib\site-packages (from imbalanced-learn) (0.23.2)
Requirement already satisfied: scipy>=0.19.1 in c:\users\rjqnr\anaconda3\lib\site-packages (from imbalanced-learn) (1.5.2)
Requirement already satisfied: joblib>=0.11 in c:\users\rjqnr\anaconda3\lib\site-packages (from imbalanced-learn) (0.14.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\rjqnr\anaconda3\lib\site-packages (from imbalanced-learn) (1.19.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\rjqnr\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn) (2.1.0)
Installing collected packages: imbalanced-learn
Successfully installed imbalanced-learn-0.7.0

WARNING: You are using pip version 20.2.4; however, version 20.3.3 is available.
You should consider upgrading via the 'c:\users\rjqnr\anaconda3\python.exe -m pip install --upgrade pip' command.

In [32]:
import numpy as np
from imblearn.under_sampling import RandomUnderSampler

X = np.array(bank_df.drop('y',axis = 1))
Y = np.array(bank_df['y'])
print(np.sum(Y == 1), np.sum(Y == 0))

820 6113

In [33]:
sampler = RandomUnderSampler(random_state = 42)
X, Y = sampler.fit_resample(X,Y)
print(np.sum(Y == 1), np.sum(Y == 0))

820 820

In [22]:
from imblearn.over_sampling import RandomOverSampler
#오버 샘플링 구현
X = np.array(bank_df.drop('y', axis =1 ))
Y = np.array(bank_df['y'])
print(np.sum(Y==1), np.sum(Y==0))

820 6113

In [24]:
sampler = RandomOverSampler(random_state = 42)
X, Y = sampler.fit_resample(X, Y)
print(np.sum(Y==1),np.sum(Y==0))

6113 6113

In [34]:
from sklearn.model_selection import KFold
from sklearn import tree
from sklearn.metrics import accuracy_score
#k_Fold 교차검증
kf = KFold(n_splits = 10, shuffle = True)
#모델의 정밀도를 보존할 준비
scores = []
#데이터를 셔플하고, 훈련데이터와 테스트 데이터로 분할
for train_id, test_id in kf.split(X):
    #훈련 데이터를 사용하여 모델을 작성
    x = X[train_id]
    y = Y[train_id]
    clf = tree.DecisionTreeClassifier()
    clf.fit(x,y)
    #테스트 데이터에 모델을 적용
    pred_y = clf.predict(X[test_id])
    # 모델의 정밀도를 계산해서 보존
    score = accuracy_score(Y[test_id],pred_y)
    scores.append(score)

#모델의 평균정밀도, 표준편차를 확인
scores = np.array(scores)
print(scores.mean(),scores.std())

0.7597560975609756 0.04572764209573824